.container {
  max-width: 79%;
  margin: auto;
  font-family: sans-serif;
}

.add-item {
  font-size: 1em;
  font-weight: 400;
}

.add-list {
  padding: 1em;
  box-shadow: 0 9px 43px -5px;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

.accept-button {
  border: 0;
  background-color: $brand-navbar-color ;
  color: $brand-form-accept;
  font-size: 10px;
}

.input-area {
  width: 100%;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 0.5px solid $brand-form-border;
  overflow: auto;
}
