$brand-navbar-background: #1fbbd1;
$brand-navbar-color: #fcfefd;
$brand-item-background: #479ca6;
$brand-item-border: #fffe93;
$brand-form-item-color: #9a9a9a;
$brand-form-accept: #49aea4;
$brand-form-border: #d0d0d0;


$brand-blue: #00bbd3;
$brand-yellow: #ffff8c;
$title-white: #fff;
$regular-text: #1c1c1c;
$placeholder-text: rgba(0, 0, 0, 0.38);

$font-family: Roboto;
$base-font-size: 14px;
$base-line-height: 2.14rem;
